<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FoodBook</title>
    <link rel="stylesheet" href="/css/jass.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
  </head>
  <body>
    <header>
        <div id="title-display">
            <h1 class="title">FoodBook</h1>
        </div>
      
      <nav id="navbar" class="navbar">
        <button class="button" id="home">Home</button>
        <button class="button" id="dashboard">Explore</button>
        {{#if logged_in}}
          <button class="button" id="logout">Logout</button>
        {{else}}
          <button class="button" id="login">Login</button>
        {{/if}}
      </nav>
    </header>

    {{{body}}}

    <!-- Notification container -->
    <div id="notification-container"></div>

    <footer>
      <!-- Footer content -->
    </footer>

    <script src="/js/notification.js"></script>
    <!-- Include the notification script -->

    {{#if logged_in}}
      <script src="/js/postLogin.js"></script>
    {{else}}
      <script src="/js/preLogin.js"></script>
    {{/if}}

    <!-- Additional JavaScript files -->
    <script src="/js/dashboard.js"></script>
    <script src="/js/addComments.js"></script>
  </body>
</html>