<div class="explorer">
    <div id="map" class="explorer-map" style="height: 400px; width: 100%;"></div>
    <div class="explorer--text">
        <input
            type="text"
            class="explorer--search explorer--background-icon explorer--text"
            id="explorer-search"
            placeholder="Search Foursquare Places"
        />
        <div id="explorer-dropdown">
            <ul id="explorer-suggestions"></ul>
            <div id="explorer-error" class="explorer--error explorer--background-icon">
                Something went wrong. Please refresh and try again.
            </div>
            <div id="explorer-not-found" class="explorer--error explorer--background-icon"></div>
            <div class="explorer--copyright">
                <img src="https://files.readme.io/7835fdb-powerByFSQ.svg" alt="powered by foursquare" />
            </div>
        </div>
    </div>
</div>