<div id="login">
<form class="signUp-form">
    <div class="form">
        <div class="subtitle">Sign up by creating a username and password:</div>

        <div class="input-container ic1">
            <label for="userName-signUp" class="placeholder"></label>
            <input id="userName-signUp" class="input" type="text" placeholder="Username" />
        </div>

        <div class="input-container ic1">
            <label for="email-signUp" class="placeholder"></label>
            <input id="email-signUp" class="input" type="text" placeholder="Email" />
        </div>

        <div class="input-container ic2">
            <label for="password-signUp" class="placeholder"></label>
            <input id="password-signUp" class="input" type="password" placeholder="Password" />
        </div>

        <button type="text" class="submit button">Sign Up</button>

        <div class="cut"></div>

</form>
</div>
<script src="/js/signUpForm.js"></script>