#title-display{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #CC5500;
}

#dashboard{
    margin: 5px;
}

#search-results{
    margin: 5px;
}

.business-div{
    margin: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#images{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;    
    margin: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 45%;
}

#img{
    margin: 1px;
}

#search-title{
    margin-bottom: 20px;
    margin: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 35%;
}

#search-title-image{
    display: flex;
}

.post-div img {
    max-width: 100%;  
    height: auto;     
    display: block;   
    margin: 10px 0;   
    max-height: 500px; 
}
.post-div img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
    max-height: 400px;
    object-fit: cover; 
    border-radius: 10px; 
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #28a745; 
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0.9;
    font-family: Arial, sans-serif;
    transition: opacity 0.5s ease-in-out;
}

.notification.error {
    background-color: #dc3545; 
}

.navbar-brand .button {
    width: 120px; 
    margin: 5px; 
    text-align: center; 
}

.division-line {
    border-top: 2px solid #ccc; 
    margin-top: 10px;
    margin-bottom: 20px;
}
.textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}