#title-display{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #CC5500;
}

#dashboard{
    margin: 5px;
}

#search-results{
    margin: 5px;
}

.business-div{
    margin: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}