#title-display{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #CC5500;
}

#login{
    margin: 5px;
}

#navbar{
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#dashboard{
    margin: 5px;
}

#homepage{
    margin: 5px;
}

#search-results{
    margin: 5px;
}


 #images{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;    
    margin: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 38%;
}  */

#img{
    margin: 1px;
}


#search-div-image{
    display: flex;
}

#search-title{
    
}

#search-address{
    margin-bottom: 10px;
}

#search-description{
    margin-bottom: 10px;
}

#search-rating{
    margin-bottom: 10px;
} 
#user-posts{
}

#post-text{
    margin-bottom: 10px;
}

#post-div{
    display: flex;
}

#post-user{
    padding-right: 20px;
    margin-right: 10px;
    border-right:2px solid #c2c2c25c;
}

#post-content{

    padding-left: 15px;
}

#post-text{
    margin: 5px;
    border: 2px solid #a1a1a1;
    padding: 10px;
    border-radius: 5px; 
}

#homepage-tags{
    color: #888888;
    font-size: smaller; 
}

#homepage-username{
    font-size: x-large;

}

#comment-text{
    font-size: medium;
    margin-bottom: 10px;
}

#comments{
    background-color: #e8e8e8c0;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
}